<html>
    <head>
        <title>misc</title>
    </head>
    <h1>misc</h1>
    <div>
    <% for(let post of posts) { %>
        <div><a href="<%=post.dest%>"><%=post.title %></a></div>
    <% } %>
    </div>
    <div>Powered by miscc version <%= MISCC_VERSION%></div>
</html>